.cache
.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json
build/CMakeFiles/
build/.cmake
build/docs/latex
TODO.txt

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses


